<div class="content">
  <mat-slider>
    <mat-slider-item [width]="343">
      <img 
        src="https://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/vehicle-groups/cars/01-images/2018-seo-cars-intro-01.jpg?imwidth=594"
        style="height:100px"
      />
    </mat-slider-item>
    <mat-slider-item [width]="343">
      <img 
        src="https://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/vehicle-groups/cars/01-images/2018-seo-cars-intro-02.jpg?imwidth=594"
        style="height:100px"
      />
    </mat-slider-item>
    <mat-slider-item [width]="343">
      <img 
        src="https://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/vehicle-groups/cars/01-images/2018-seo-cars-intro-03.jpg?imwidth=594"
        style="height:100px"
      />
    </mat-slider-item>
  </mat-slider>
</div>